* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h3 {
  color: #444;
}

h6 {
  color: #999;
}

.btn-index {
  background: #0cc3a7;
  color: white;
  padding: 5px 10px;
  text-align: center;
}
.btn-index:hover {
  background: #289dd2;
  padding: 3px 8px;

  border: 2px solid #289dd2;
}

.title-index {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
  border-bottom: 2px solid #999;
}

svg {
  margin: 10px;
}
table {
  padding: 10px;
}

th {
  color: #289dd2;
  font-size: 16px;
  background-color: #cedeeb;
}
td {
  font-size: 14px;
}
th,
td {
  text-align: left;
  padding: 8px;
}
.card-index {
  padding: 20px;
}

.container-index {
  margin: 20px;
}
.content-index {
  margin-left: 300px;
}

.container-index .content-index {
  margin-top: 1vh;
  min-height: 90vh;
}

.container-index .content-index .cards-index {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-index .content-index .cards-index .card-index {
  width: 250px;
  height: 150px;
  background: white;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-index .content-index .content-2-index {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container-index .content-index .content-2-index .solicitudes_nuevas {
  min-height: 50vh;
  flex: 5;
  background: white;
  margin: 0 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.container-index .content-index .content-2-index .Citas_Pendientes {
  flex: 2;
  background: white;
  min-height: 50vh;
  margin: 0 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.container-index
  .content-index
  .content-2-index
  .Citas_Pendientes
  table
  td:nth-child(1)
  img {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 1050px) {
  .side-menu li {
    font-size: 18px;
  }
}

@media screen and (max-width: 536px) {
  .brand-name h1 {
    font-size: 16px;
  }
  .container-index .content-index .cards-index {
    justify-content: center;
  }
  .side-menu li img {
    width: 30px;
    height: 30px;
  }
  .container-index
    .content-index
    .content-2-index
    .solicitudes_nuevas
    table
    th:nth-child(2),
  .container-index
    .content-index
    .content-2-index
    .solicitudes_nuevas
    table
    td:nth-child(2) {
    display: none;
  }
}
.imagen_option {
  width: 100px;
}
